{% load static %}
body{
    background-color: #fff;
}

.section--1{
    background-color:#004d80;
    padding-top: 2em;
    padding-bottom: 2em;

}

.section--2{

    padding-top: 2em;
    padding-bottom: 2em;
    margin: 10px 60px 10px 60px;

    border-radius: 30px;
    }

.navigation-bar{
    background-color:#006666;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: #fff;
}

.hero{
    background-image: url("../images/screen.jpeg");

    min-height: 50vh;
    color: #fff;
    border-radius:0px 0px 10px 10px;

}

#profile_pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content{
    width: 800px;
    margin: 0 auto;
    padding: 3em;
    border-radius:10px;

}

.hero--content--intro{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

.intro--name{
    font-size: 100px;
    letter-spacing: .1em;
    font-weight: 700;
    line-height: .9em;

}

.description{
    font-size: 35px;
    text-align: center;
}

.slogan{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
}

.myproject{
    margin:15px;
    padding: 30px 0px;
    background-color:#E5E5E5;
    border-radius: 5px;
    height: 500px;

}

.projects--wrapper{
    display: flex;
    justify-content: safe;
    gap: 2em;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;

    margin-right: 1em;
    overflow-x: auto;


}

.projects--wrapper::-webkit-scrollbar {
    width: 2px;

}

.projects--wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

.projects--wrapper::-webkit-scrollbar-thumb {
  background-color: #197c8b;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

.projects--wrapper::-webkit-scrollbar-thumb:hover{
    background-color: #197c8b;
}

.project--column{
    min-width: 300px;
    height:300px;
    

}

.project--thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project--body{
    background-color: #fff;
    padding: 1em;
}


.skills--container{
    width: 600px;
    margin: 0 auto;
    padding: 1em;
    background-color:#006666;
    border-radius: 20px;
    color: #ffff;
}

.skill--wrapper{


    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    align-items: center;

}

.skill--logo{
    background-color: #ffff;
    width: 80px;
    object-fit: contain;
    border-radius:30%;
}

.other--skills--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.skill--tag{
    background-color: #006666;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;

}


.project--imagep{
    display:block;
    max-width: 800px;
}

.about--wrapper{
    background-color: #333333;
    color: #ffff;
    margin:30px 10px;
    padding: 10px;
    height: auto;
    border-radius: 20px;
}
.endorsement--container{
    margin:0px 0px;
    padding: 0px 0px;


}

.cardl-body{
 width:auto;
 height:auto;
 justify-content: center;
  background-color: #006666;
  border-radius: 20px;
  color: #ffff;
}

.contact--form{
    display: block;
    width: auto;
    height:auto;
    margin: 0 auto;
    padding: 0px 0px;

}
.mybtn{
    background-color: #006666;
    color: #ffff;
    border-radius:10px;
    border-style:none;
    width: 85px;
    height: 40px;
}

@media (max-width:900px){
    .hero--content--intro{
        flex-direction: column;
        height: 250px;
    }
    #profile_pic{
        height:200px;
        width:200px;
    }

    .projects--wrapper{

        grid-template-columns: 1fr ;


    }
}

@media (max-width:800px){
    .hero--content{
        width: 100%;
    }
}




@media (max-width:600px){

    .skills--container{
        width: 100%;
    }


}


@media (max-width:400px){
 .skills--container{
        width: 100%;
    }



}

